@font-face {
  font-family: myfont;
  src: url(./NeueHaasDisplayMediu.ttf);
}
@font-face {
  font-family: myfont;
  src:url(./NeueHaasDisplayLight.ttf);
  font-weight: 100;
}
/*
what a trick down the ground*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: myfont;
}
.firstpage {
  min-height: 100vh;
  width: 100%;
  background-color: #efeae3;
  position: relative;
  padding: 0 2vw;
}
nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: red; */
  padding: 2rem 0;
  position: relative;
  z-index: 12323;
}
.resmenu {
  display: none;
}
nav .navsecond {
  display: flex;
  align-items: center;
  gap: 2rem;
}
nav .navsecond a {
  text-decoration: none;
  border: 1px solid rgb(158, 150, 150);
  border-radius: 50px;
  padding: 8px 25px;
  color: black;
  font-size: 17px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  font-weight: 100;
}
/*The a and after are st same stacking level when i give z index to 1 after will also get it but if give z-index -1 to after element a will remain on top*/
nav .navsecond a::after {
  content: " ";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  left: 0;
  bottom: -100%;
  border-radius: 50%;
  transition: all 0.5s ease;
  z-index: -1;
}
nav .navsecond a:hover::after {
  bottom: 0;
  border-radius: 0;
}
nav .navsecond a:hover {
  color: white;
}
.content {
  height: 65vh;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: 1px solid #000000;
  padding-bottom: 2vw;
}
.left h3 {
  width: 30%;
  font-size: 29px;
  line-height: 1.5rem;
}
.right{
 width: 40vw;
}
.right h1 {
  font-size:9vw;
  /*line height is calculated as line-height - font size relative to font size*/
  line-height: 7vw;
  text-align: right;
}
.firstpage video {
  position: relative;
  width: 100%;
  border-radius: 20px;
  margin-top: 2vw;
  z-index: 2;
}
.firstpage .hero {
  position: absolute;
  right: 0;
  top: 74vh;
  width: 40vw;
  height: 50vh;
  z-index: 1;
}
.hero .hero1 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fd330b;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  filter: blur(20px);
}
.hero .hero2 {
  position: absolute;
  width: 30vw;
  height: 30vw;
  background-color: #fd330b;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  filter: blur(20px);
  animation: anime2 3s linear alternate;
  animation-iteration-count: infinite;
}
.hero .hero3 {
  position: absolute;
  width: 30vw;
  height: 30vw;
  background-color: #fd330b;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  filter: blur(20px);
  animation: anime 3s linear alternate;
  animation-iteration-count: infinite;
}
@keyframes anime {
  from {
    transform: translate(25%, 3%);
  }
  to {
    transform: translate(10%, -10%);
  }
}
@keyframes anime2 {
  from {
    transform: translate(-15%, -10%);
  }
  to {
    transform: translate(10%, -10%);
  }
}
/* page 2 */
.pagetwo {
  min-height: 100vh;
  width: 100%;
  background-color: #efeae3;
}
/* overflow-x auto means scrollbar will at only moving text not at whole page */
.moving {
  padding-top: 100px;
  display: flex;
  gap: 20px;
  overflow-x: auto;
}
.moving::-webkit-scrollbar {
  display: none;
}
.heading {
  display: flex;
  align-items: center;
  gap: 20px;
  animation: move 9s linear infinite;
}
.heading h1 {
  font-size: 8vw;
  text-transform: uppercase;
}
.circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: orangered;
}
@keyframes move {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.secondsection {
  height: 100vh;
  width: 100%;
  /* background-color: red; */
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
  padding: 5vw;
  position: relative;
}
.secondsection h1 {
  font-size: 3.5vw;
  width: 55%;
  position: relative;
  z-index: 2;
}
.secondsection .imgcontainer img {
  border-radius: 10px;
  width: 100%;
}
.secondsection .imgcontainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: absolute;
  top: 40%;
  right: 5%;
  width: 20%;
}
.secondsection .imgcontainer p {
  width: 100%;
  font-weight: 100;
}
.secondsection .ghomtacircle {
  border-radius: 50%;
  position: absolute;
  height: 60vh;
  width: 65vh;
  background: linear-gradient(to top right, #fe320a, #fe5b0a);
  animation: myskew 6s linear infinite alternate;
  filter: blur(25px);
  bottom: 10%;
  left: 20%;
}
.pagethree {
  height: 90vh;
  width: 100%;
  background-color: #efeae3;
}
@keyframes myskew {
  from {
    transform: translate(10%, -10%) skew(0);
  }
  to {
    transform: translate(-10%, 10%) skew(-12deg);
  }
}
.pagethree .element {
  width: 100%;
  height: 100px;
  /* background-color: black; */
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid black;
}
.pagethree .element .myover {
  width: 100%;
  height: 100px;
  position: absolute;
  background-color: #ff9831;
  top: -102%;
  bottom: 0;
  transition: all 0.5s ease-in-out;
}
.pagethree .element:hover .myover {
  top: 0;
}
.pagethree .element h1 {
  position: relative;
  z-index: 5;
  padding: 30px 10px;
}
.imagediv {
  height: 30vw;
  width: 20vw;
  /* background-color: red; */
  position: fixed;
  border-radius: 7px;
  z-index: 7;
  left: 50%;
  top: 25%;
  display: none;
  background-size: cover;
  background-position: center;
  transition: all 1s ease;
}
.pagefour {
  height: 100vh;
  width: 100%;
  background-color: #efeae3;
  padding: 13vw 2vw;
  position: relative;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  width: 30%;
  padding: 0 3vw;
  border-left: 1px solid rgb(102, 102, 102);
}

.swiper p {
  width: 300px;
  margin-top: 30px;
  color: rgb(102, 102, 102);
}
.pagefour .whowork {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 50px;
}

.pagefour .whowork div {
  width: 10px;
  height: 10px;
  background-color: orangered;
  border-radius: 50%;
}
.footer {
  position: relative;
  height: 105vh;
  width: 100%;
  display: flex;
  background-color: black;
  color: white;
  flex-direction: column;
  padding: 1vw 3vw;
  justify-content: flex-end;
  overflow: hidden;
}
.footer h5 {
  font-size: 23vw;
  border-bottom: 1px solid rgb(103, 103, 103);
}

.mysecond {
  display: flex;
  justify-content: space-between;
  padding: 100px 100px;
  align-items: center;
  position: relative;
  z-index: 6;
}
.mysecond .as {
  position: relative;
  z-index: 6;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.mysecond .as p {
  font-size: 2rem;
}
.mysecond .inputemail {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-right: 60px;
}
.mysecond .inputemail input {
  background: transparent;
  outline: none;
  border: none;
  padding: 10px 0;
  width: 300px;
  border-bottom: 1px solid rgb(255, 255, 255);
  color: white;
}
.mysecond .inputemail input::placeholder {
  color: rgb(254, 254, 254);
}
.mysecond .inputemail p {
  width: 230px;
}
.footer .myinner {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
/*menu section*/
.myinnerdiv{
  display: none;
}

.footer .div1 {
  top: -25%;
  left: -4%;
  position: absolute;
  height: 75vh;
  width: 45vw;
  background-color: orangered;
  filter: blur(100px);
  border-radius: 90px;
  animation: div1anime 6s linear infinite alternate;
}
@keyframes div1anime {
  from {
    transform: skew(0, -20deg);
  }
  to {
    transform: skew(0deg, -30deg);
  }
}
.footer .div2 {
  top: -30%;
  left: 30%;
  position: absolute;
  height: 85vh;
  width: 85vw;
  background-color: orangered;
  filter: blur(100px);
  animation: div2anime 6s linear infinite alternate;
}
@keyframes div2anime {
  from {
    transform: skew(0deg, 20deg);
  }
  to {
    transform: skew(0deg, 30deg);
  }
}
/* tabs */
.tabs {
  width: 100%;
  min-height: 100vh;
  background-color: #efeae3;
  padding: 4vw 7vw;
}

.tabscontainer {
  width: 100%;
  height: 100vh;
  background-color: black;
  border-radius: 30px;
  display: none;
  justify-content: space-between;
  align-items: center;
  transition: all 2s ease-in-out;
}

.tabscontainer img {
  width: 50%;
  height: 100%;
  border-radius: 30px;
}

.tabscontainer .wrapper {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-left: 170px;
}

.tabscontainer .wrapper .tabsheading h1 {
  font-size: 3vw;
  cursor: pointer;
  color: #efeae3;
}

.tabscontainer .wrapper p {
  width: 300px;
}

/* responsivenss */
@media (max-width: 600px) {
  .firstpage {
    padding: 0vw 6vw;
  }
  nav img {
    height: 7vh;
    transition: all 0.5s ease;
  }
  /*problem occured here when i am giving z-index to resmenudiv 100 and page 99 and my navbar zindex is 12323 so when i click menu my resmenudiv appers with the z-index of 100 where my page1 index is 99 so no matter what z-index of my navbar is my page1 index is still 99 so it not appers on top of my resmenudiv*/
  .resmenudiv {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    z-index: 100;
    top: -100%;
    transition: all 0.7s ease-in-out;
  }
  nav .navsecond {
    display: none;
  }
  .myinnerdiv {
    display: block;
    position: relative;
    background-color: #efeae3;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 50%;
    width: 100%;
    transition: all 0.5s ease;
  }
  .myinnerdiv .linethrough {
    height: 1px;
    width: 100%;
    background-color: rgb(144, 144, 144);
    position: absolute;
    top: 30%;
    right: 0;
  }
  .myinnerdiv div {
    line-height: 13vw;
    text-align: right;
    font-size: 7vw;
    position: absolute;
    bottom: 10px;
    right: 20px;
  }
  nav .resmenu {
    display: block;
    border-radius: 50px;
    padding: 3vw 5vw;
    color: black;
    border: 1px solid rgb(144, 144, 144);
    padding-left: 8vw;
  }
  .content {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    border-bottom: 1px solid #000000;
    gap: 15%;
    padding-bottom: 2vw;
  }
  .left {
    align-self: flex-start;
  }
  .right {
    align-self: flex-end;
    width: 70%;
  }
  .left h3 {
    width: 95%;
    font-size: 22px;
    font-weight: 100;
    line-height: 1.5rem;
  }
  .right h1 {
    font-size: 17vw;
    /*line height is calculated as line-height - font size relative to font size*/
    line-height: 15vw;
  }

  .hero .hero2 {
    width:80vw;
    height: 40vh;
  }
  .hero .hero3 {
    width: 80vw;
    height: 40vh;
  }
  .firstpage video {
    height: 70vh;
    margin-top: 12vw;
    object-fit: cover;
  }
  .moving {
    padding-top: 20px;
  }
  .secondsection .ghomtacircle {
    height: 50vh;
    width: 50vw;
    bottom: 10%;
    right: 0;
  }
  .secondsection h1 {
    font-size: 6.5vw;
    width: 100%;
    position: relative;
    z-index: 2;
  }
  .secondsection .imgcontainer img {
    border-radius: 10px;
    width: 100%;
  }
  .secondsection .imgcontainer {
    position: absolute;
    top: 30%;
    left: 5%;
    width: 70%;
    z-index: 1000;
  }
  .secondsection .imgcontainer p {
    font-weight: 100;
  }
  .tabscontainer {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    margin-top: 100px;
    transition: all 2s ease-in-out;
  }

  .tabscontainer img {
    width: 100%;
    height: 50%;
  }

  .tabscontainer .wrapper {
    margin-top: 50px;
    gap: 30px;
    margin-left: 0;

  }

  .tabscontainer .wrapper .tabsheading h1 {
    font-size: 9vw;
    cursor: pointer;
    color: #efeae3;
  }

  .tabscontainer .wrapper p {
    margin-bottom: 100px;
    width: 300px;
    font-weight: 100;
  }
  .swiper {
    margin-top: 40%;
  }
  .swiper-slide {
    width: 70%;
    height: 45vh;
    padding: 0 3vw;
    border-left: 1px solid rgb(102, 102, 102);
  }
  .footer {
    height: 65vh;
  }
  .mysecond {
    flex-direction: column;
    padding:0;
    align-items:flex-start;
    gap: 20px;
  }
  .mysecond .as {
    gap: 0;
  }
  .mysecond .as p {
    font-size: 2rem;
  }
  .mysecond .inputemail input {
    width: 400px;
  }
  .footer .div1 {
    height: 55vh;
    width: 45vw;
    filter: blur(50px);
  }
  .footer .div2 {
    height: 60vh;
    width: 85vw;
    background-color: orangered;
    filter: blur(100px);
    animation: div2anime 6s linear infinite alternate;
  }
  .footer .myinner {
    flex-wrap: wrap;
  }
  .loader h1 {
    font-size: 10vw;
  }
}
.loader {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: #000000;
  z-index: 100000;
  top: 0;
  transition: all 0.6s linear;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader h1 {
  color: transparent;
  font-size: 4vw;
  text-transform: uppercase;
  background: linear-gradient(to right, orange, orangered);
  -webkit-background-clip: text;
  position: absolute;
  opacity: 0;
  animation: movehead 1s linear 1s;
}
.loader h1:nth-child(2) {
  animation-delay: 2s;
}
.loader h1:nth-child(3) {
  animation-delay: 3s;
}
@keyframes movehead {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
